bump2version==1.0.1
flake8==3.9.1
coverage==5.5
mock==4.0.3
pip==21.2
pylint==2.8.2
pytest==6.2.3
pytest-runner==5.3.0
pytest-watch==4.2.0
tox==3.23.0
twine==3.4.1
watchdog==2.0.2
wheel==0.36.2
Click==7.1.2
Sphinx==3.5.4
