bump2version==1.0.1
flake8==3.8.4
coverage==5.3
mock==4.0.2
pip==20.2.4
pylint==2.6.0
pytest==6.2.1
pytest-runner==5.2
pytest-watch==4.2.0
tox==3.20.1
twine==3.2.0
watchdog==0.10.3
wheel==0.35.1
Click==7.1.2
Sphinx==3.2.1
