bump2version==1.0.0
flake8==3.7.9
coverage==5.0.3
mock==4.0.1
pip==20.0.2
pylint==2.4.4
pytest==5.3.5
pytest-runner==5.2
pytest-watch==4.2.0
tox==3.14.3
twine==3.1.1
watchdog==0.10.1
wheel==0.34.2
Click==7.0.0
Sphinx==2.4.4
