name: Something
on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"
jobs:
  Something:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Test
        run: echo "running tests"
      - name: Deploy
        run: echo "Deploying"
        if: github.head_ref == 'main'
